body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
}

header{
    background-color: beige;
    color: red;
    padding: 10px 0;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

}
nav ul li a{
    color: black;
    text-decoration: none;
}

footer{
    background-color: blanchedalmond;
    color:brown;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form{
    display: inline-block;
    text-align: left;
}
form textarea{
    width: 100%;
    max-width: 500px;
}

section{
    margin: 20px 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    background-color: aliceblue;
    padding: 20px;
    margin: 10px;
    flex: 1  1  300px;
    text-align: center;
    border-radius: 8px;
}

#table-projetos{
    width: 100%;
    text-align: center;
}